.logo {
    width: 100px;
    height: auto
    
}
.nav-dashboard-text{
    font-size:18px;
    font-weight: 600;
    color:#F2F2F2;
    text-decoration:none;
}
.nav-text-goals {
    font-size:18px;
    font-weight: 600;
    color:#F2F2F2;
    text-decoration:none;
}
.nav-container {
    background-color: #111218;
    border: 1px solid #2A2D3A;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.nav-text-habits {
    font-size:18px;
    font-weight: 600;
    color:#F2F2F2;
    text-decoration:none;

}
.nav-quests-icon {
    width: 30px;
    height: 30px;
}
.nav-text-quests {
    font-size:18px;
    font-weight: 600;
    color:#F2F2F2;
    text-decoration:none;
}
.nav-text-stats {
    font-size:18px;
    font-weight: 600;
    color:#F2F2F2;
    text-decoration:none;
}
.nav-text-achievement {
    font-size:18px;
    font-weight: 600;
    color:#F2F2F2;
    text-decoration:none;
}
.nav-text-settings {
    font-size:18px;
    font-weight: 600;
    color:#F2F2F2;
    text-decoration:none;
}
.greetings h2 {
    font-size: 24px;
    font-weight: 700;
    color: #F2F2F2;
    margin: 0;
}
.greetings p {
    font-size: 14px;
    color: #9A9DA8;
    margin-top: 5px;
}
.top-nav {
    background-color: #111218;
    border: 1px solid #252833;
    border-radius: 16px;
    padding: 20px 30px;
    margin: 20px;
}
.top-nav-actions {
    display: flex;
    gap: 12px;
}
.nav-button {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    background-color: #171921;
    border: 1px solid #2A2D36;
}
.top-nav {
    position: fixed;
    top: 0;
    left: 250px; /* adjust to your sidebar width */
    right: 0;
    height: 80px;
}
.top-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}