.logo {
    width: 100px;
    height: auto
    
}
.nav-text{
    font-size:18px;
    font-weight: 600;
    color:#F2F2F2;
    text-decoration:none;
}
.nav-text-goals {
    font-size:18px;
    font-weight: 600;
    color:#F2F2F2;
    text-decoration:none;
}
.nav-container {
    background-color: #111218;
    border: 1px solid #2A2D3A;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    flex-direction: row;
}